.review-head {
	display: flex;
	flex-direction: row;
	&__item {
		width: 100%;
		color: var(--unnamed, #3d3d3d);
		font-family: Plumb-400;
		font-size: 16px;
		line-height: 150%; /* 24px */

		&.item1 {
			margin: 0 0 0 31px;
			max-width: 452px;
		}
		&.item2 {
			max-width: 364px;
		}
		&.item3 {
			max-width: 472px;
		}
		&.item4 {
			max-width: 165px;
		}
		&.item5 {
			max-width: fit-content;
		}
	}
}
