.w-g-b-dropdown {
	height: fit-content;
    font-family: 'PlumbC-400';
	border: 1px solid #e2e2e2;
	&__preview {
		width: 100%;
		height: 38px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 10px 9px 0 14px;
		color: var(--unnamed, #3d3d3d);

		font-size: 15px;

        cursor: pointer;
	}

	&__drop-arrow {
        margin: 6px 0 0 0;
		width: 15px;
		height: 8px;
		&.active {
		}
	}

	&__drop {
		height: 0;
		visibility: hidden;
		&.active {
			height: auto;
			visibility: visible;
		}
	}

	&__row {
        width: 100%;
        height: 30px;
        padding: 6px 0 0 22px;
        background: #F6F6F6;
        cursor: pointer;
	}
}
