.search-input {
	height: 40px;
	background: #fbfbfb;
	border: 1px solid #e2e2e2;
	padding: 0px 12px 0 15px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	&__input {
		color: var(--unnamed, #3d3d3d);
		font-family: Plumb-400;
		font-size: 15px;
		line-height: 150%; /* 22.5px */
        width: 287px;
        background: transparent;
	}
	&__search-icon {
	}
}
