.orders-page-head {
	margin: 0 0 0 0;
	display: flex;
	flex-direction: row;
	gap: 336px;
	&__controls {
		margin: 17px 0 0 0;
		display: flex;
		flex-direction: row;
	}

	&__month-text {
		margin: 14px 0 0 0;
		color: var(--unnamed, #3d3d3d);
		text-align: right;
		font-family: Plumb-400;
		font-size: 15px;
		line-height: 150%; /* 22.5px */
	}

	&__month {
		margin: -9px 0 0 14px;
		color: var(--unnamed, #3d3d3d);
		font-family: Plumb-700;
		font-size: 28px;
	}

	&__drop-arrow {
		margin: 20px 0 0 10px;
		width: 15px;
		height: 20px;
	}

	&__show-button {
		margin: 14px 0 0 26.5px;
		color: var(--1, #277d59);
		font-family: Plumb-400;
		font-size: 15px;
		line-height: 150%; /* 22.5px */
		text-decoration-line: underline;
	}

	&__export-button {
		margin: 2px 0 0 51px;
		width: 160px;
		height: 46px;
		flex-shrink: 0;
		background: var(--1, #277d59);
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 11px;
		color: var(--unnamed, #fff);
		font-family: Plumb-700;
		font-size: 15px;
		line-height: 120%; /* 18px */
		padding: 1px 3px 0 3px;
	}

	&__export-icon {
	}
}

.orders {
	margin: 0 0 57px 0;
	display: flex;
	flex-direction: row;
	width: 100%;
	gap: 59px;
	&__left {
		width: 100%;
		max-width: 1222px;
	}

	&__application {
		width: 100%;
		max-width: 398px;
	}

	&__show-button {
		margin: 59px 0 0 524px;
		width: 172px;
		height: 46px;
		color: var(--unnamed, #3d3d3d);
		font-family: Plumb-700;
		font-size: 15px;

		line-height: 150%; /* 22.5px */
	}
}

.orders-search {
	margin: 57px 0 0 -2px;
	display: flex;
	flex-direction: row;
	gap: 29px;
	&__date-container {
		display: flex;
		flex-direction: row;
		gap: 15px;
		align-items: center;
	}

	&__dash {
		width: 20px;
		height: 2px;
		background: #3d3d3d;
	}
}

.orders-head {
	margin: 58px 0 0 0px;
	display: flex;
	flex-direction: row;
	padding: 0 0 0 36px;
	&__heading {
		width: 100%;
		color: rgba(#3d3d3d, 0.3);
		font-family: Plumb-400;
		font-size: 15px;
		line-height: 150%; /* 22.5px */
		&.first {
			max-width: 226px;
		}
		&.second {
			max-width: 182px;
		}
		&.third {
			max-width: 188px;
		}
		&.fourth {
			max-width: 401px;
		}
		&.fifth {
			max-width: 44px;
		}
	}
}

.orders-list {
	margin: 22.5px 0 0 -2.5px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	&__row {
		width: 100%;
		max-width: 1222px;
		height: 60px;
		display: flex;
		flex-direction: row;
		box-shadow: 0px 16px 40px 0px rgba(0, 0, 0, 0.09), 0px 4px 7px 0px rgba(0, 0, 0, 0.07);
		&.dark-grey {
			background: linear-gradient(0deg, rgba(0, 81, 47, 0.07) 0%, rgba(0, 81, 47, 0.07) 100%), #fff;
		}
		&.grey {
			background: rgba(255, 255, 255, 0.6);
			box-shadow: 0px 16px 34px 0px rgba(0, 0, 0, 0.04);
		}
		&.white {
			background: #fff;
			box-shadow: 0px 16px 40px 0px rgba(0, 0, 0, 0.09), 0px 4px 7px 0px rgba(0, 0, 0, 0.07);
		}
	}

	&__color-tap {
		width: 5px;
		height: 60px;

		&.orange {
			background: #ffc700;
		}

		&.pink {
			background: #ff68f0;
		}

		&.azure {
			background: #7cd8ff;
		}

		&.green {
			background: #1dca58;
		}

		&.blue {
			background: #5f82ff;
		}
	}

	&__row-name {
		margin: 19px 0 0 32px;
		color: var(--unnamed, #3d3d3d);
		font-family: Plumb-700;
		font-size: 15px;
		font-style: normal;
		font-weight: 700;
		line-height: 130%; /* 19.5px */

		width: 100%;
		max-width: 227px;
	}

	&__row-number {
		margin: 18px 0 0 0;
		width: 100%;
		max-width: 182px;
		color: var(--unnamed, #3d3d3d);
		font-family: Plumb-400;
		font-size: 15px;
		line-height: 150%; /* 22.5px */
	}

	&__days {
		margin: 18px 0 0 0;
		width: 100%;
		max-width: 188px;
		color: var(--unnamed, #3d3d3d);
		font-family: Plumb-400;
		font-size: 15px;
		line-height: 150%; /* 22.5px */
	}

	&__employee {
		margin: 0px 0 0 0;
		width: 100%;
		max-width: 401px;
		display: flex;
		flex-direction: row;
		gap: 10px;
		align-items: center;
		color: var(--unnamed, #3d3d3d);
		font-family: Plumb-700;
		font-size: 15px;
		line-height: 150%; /* 22.5px */
	}

	&__employee-avatar {
		width: 30px;
		height: 30px;
	}

	&__status {
		margin: 18px 0 0 0;
		font-family: Plumb-400;
		font-size: 15px;
		line-height: 150%; /* 22.5px */
		&.new {
			color: var(--1, #277d59);
		}
		&.new-yellow {
			color: var(--unnamed, #ffc700);
		}
		&.completed {
			color: var(--unnamed, #1dca58);
		}
		&.cancelled {
			color: var(--2, #ee3424);
		}
	}
}

.orders-application {
	margin: 60px 0 0 0;
	display: flex;
	flex-direction: column;
	width: 398px;
	height: 923px;
	flex-shrink: 0;
	background: #fff;
	border: 1px solid #f4f4f4;
	filter: drop-shadow(0px 24px 54px rgba(0, 0, 0, 0.08));
	&__head {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 34px 29px 25px 29px;
	}

	&__title {
		color: var(--unnamed, #3d3d3d);
		font-family: Plumb-700;
		font-size: 28px;
		line-height: 100%; /* 28px */
	}

	&__status {
		margin: -2px 0 0 0;
		color: var(--unnamed, #1dca58);
		text-align: right;
		font-family: Plumb-400;
		font-size: 15px;
		line-height: 120%; /* 18px */
	}

	&__line {
		width: 397px;
		height: 1px;
		background: #efefef;
		&.mid {
			margin: 0 0 0 30px;
			width: 338px;
		}
	}

	&__upper {
		margin: 30px 0 0 29px;
		display: flex;
		flex-direction: row;
		gap: 20px;
	}

	&__avatar {
		margin: 0 0 29px 0;
		width: 100px;
		height: 100px;
	}

	&__texts {
		margin: 10px 0 0 0;
		display: flex;
		flex-direction: column;
	}

	&__name {
		color: var(--unnamed, #3d3d3d);
		font-family: Plumb-700;
		font-size: 21px;
		line-height: 120%; /* 25.2px */
	}

	&__partners {
		margin: 1px 0 0 0;
		color: var(--unnamed, #3d3d3d);
		font-family: Plumb-400;
		font-size: 15px;
		line-height: 130%; /* 19.5px */
	}

	&__show-button {
		margin: 13px 0 0 0;
		color: var(--1, #277d59);
		font-family: Plumb-400;
		font-size: 15px;
		line-height: 150%; /* 22.5px */
		text-decoration-line: underline;
	}

	&__stats {
		display: flex;
		flex-direction: column;
		padding: 28px 29px 30px 29px;
		gap: 15.5px;
	}

	&__row {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	&__row-name {
		color: var(--unnamed, #3d3d3d);
		font-family: Plumb-400;
		font-size: 15px;
		line-height: 150%; /* 22.5px */
	}

	&__row-value {
		display: flex;
		flex-direction: column;
		gap: 0px;
	}

	&__row-value-content {
		color: var(--unnamed, #3d3d3d);
		text-align: right;
		font-family: Plumb-700;
		font-size: 15px;
		line-height: 150%; /* 22.5px */
	}

	&__comment {
		margin: 0 0 28px 29px;
		display: flex;
		flex-direction: column;
		gap: 9px;
	}

	&__comment-heading {
		color: var(--unnamed, #3d3d3d);
		font-family: Plumb-400;
		font-size: 15px;
		line-height: 150%; /* 22.5px */
	}

	&__comment-text {
		color: var(--unnamed, #3d3d3d);
		font-family: Plumb-400;
		font-size: 15px;
		line-height: 150%; /* 22.5px */
		max-width: 338px;
	}

	&__buttons {
		margin: 30px 0 0 0;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 0 29px 0 29px;
	}

	&__button {
		width: 139px;
		height: 46px;
		flex-shrink: 0;
		background: rgba(#ee3424, 0.06);
		color: var(--2, #ee3424);
		text-align: center;
		font-family: Plumb-400;
		font-size: 15px;
		line-height: 150%; /* 22.5px */
		&.denie {
			padding: 1px 0 0 0;
		}
		&.confirm {
			background: var(--1, #277d59);
			width: 169px;
			height: 46px;
			flex-shrink: 0;
			color: var(--unnamed, #fff);
			text-align: center;
			font-family: Plumb-700;
			font-size: 15px;
			line-height: 120%; /* 18px */
		}
		&.delete {
			margin: -5.5px 0 0 -2px;
			width: fit-content;
			height: auto;
			color: var(--2, #ee3424);
			font-family: Plumb-400;
			font-size: 15px;
			line-height: 120%; /* 18px */
			text-decoration-line: underline;
			background: transparent;
			display: flex;
			align-items: center;
		}
		&.edit {
			margin: -6px 14px 0 -10px;
			background: transparent;
			height: auto;
			width: fit-content;
			color: var(--1, #277d59);
			font-family: Plumb-400;
			font-size: 15px;
			line-height: 120%; /* 18px */
			text-decoration-line: underline;
			display: flex;
			align-items: center;
		}
	}

	&__red-cross {
		margin: 0px 11px 0 0;
	}

	&__edit-icon {
		margin: 0px 11px 0 0;
	}
}
