.services-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	&__row-name {
		width: 156px;
		color: var(--unnamed, #3d3d3d);
		font-family: Plumb-400;
		font-size: 17px;
		line-height: 120%; /* 20.4px */
	}

	&__drop-container {
		&.first {
			max-width: 209px;
			margin-right: 18px;
			&.unactive{
				margin-right: 0px;
			}
		}
		&.second {
			max-width: 303px;
			margin-right: 7px;
			&.unactive{
				margin-right: 0px;
			}
		}
	}

	&__input {
		margin: 0 7px 0 0px;
		width: 303px;
		height: 40px;
		background: #fff;
		border: 1px solid #e2e2e2;
		flex-shrink: 0;
		padding: 0px 18px 0 15px;
		color: var(--unnamed, #3d3d3d);
		font-family: Plumb-400;
		font-size: 14px;
		line-height: 150%; /* 21px */
	}

	&__date {
		margin: 0 7px 0 9px;
		width: 303px;
		height: 40px;
		background: #fff;
		border: 1px solid #e2e2e2;
		flex-shrink: 0;
		padding: 11px 18px 10px 15px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	&__date-text {
		color: var(--unnamed, #3d3d3d);
		font-family: Plumb-400;
		font-size: 14px;
		line-height: 150%; /* 21px */
	}

	&__calendar-icon {
	}

	&__plus-icon {
		width: 30px;
		height: 30px;
	}
}
