.services-component {
	display: flex;
	flex-direction: column;

	&__title {
		margin: 0 0 34px 0;
		color: var(--unnamed, #3d3d3d);
		font-family: Plumb-700;
		font-size: 28px;
		line-height: 100%; /* 28px */
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 19px;
	}

	&__calendar-list {
		display: flex;
		flex-direction: column;
		gap: 10px;
		&.first {
			margin: 0 0 39px 0;
		}

		&.second {
		}

		&.three {
			margin: 29px 0 39px 0;
		}
	}

	&__green-button {
		margin: 45px 0 0 0;
		height: 56px;
		background: var(--1, #277d59);
		width: 269px;
		display: flex;
		align-items: center;

		&.calendar {
			margin: 29px 0 0 0;
		}
	}
}

.services-list {
	margin: 65px 0 201px 0;

	display: none;
	flex-direction: column;

	&.active {
		display: flex;
	}

	&.calendar {
		margin: 45px 0 201px 0;
	}

	&__head {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	&__title {
		color: var(--unnamed, #3d3d3d);
		font-family: Plumb-700;
		font-size: 28px;
		line-height: 100%; /* 28px */
	}

	&__export-button {
		margin: 3px -1px 0 0;
		background: var(--1, #277d59);
		width: 186px;
		height: 46px;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 13px;
		color: var(--unnamed, #fff);
		font-family: Plumb-700;
		font-size: 15px;
		line-height: 120%; /* 18px */
		padding: 0 17px 0 0;
	}

	&__export-icon {
	}

	&__list-head {
		display: flex;
		flex-direction: row;
		margin: 15px 0 0 30px;
	}

	&__head-item {
		width: 100%;

		color: var(--unnamed, #3d3d3d);
		font-family: Plumb-400;
		font-size: 15px;
		line-height: 150%; /* 22.5px */
		&.first {
			max-width: 321px;
		}
		&.second {
			max-width: 262px;
		}
	}

	&__list {
		margin: 49px 0 0 0;
		display: flex;
		flex-direction: column;
		gap: 12px;
	}

	&__row {
		width: 1680px;
		height: 74px;
		flex-shrink: 0;
		background: #fff;
		box-shadow: 0px 16px 34px 0px rgba(0, 0, 0, 0.04);
		padding: 12px 0 0 30px;
		display: flex;
		flex-direction: row;
	}

	&__avatar {
		margin: 0 15px 0 0;
		width: 50px;
		height: 50px;
	}

	&__texts {
		margin: 4px 0 0 0;
		display: flex;
		flex-direction: column;
		gap: 3px;
		width: 100%;
		max-width: 254px;
	}

	&__row-name {
		color: var(--unnamed, #3d3d3d);
		font-family: Plumb-700;
		font-size: 15px;
		line-height: 150%; /* 22.5px */
	}

	&__row-job {
		color: rgba(#3d3d3d, 0.4);
		font-family: Plumb-400;
		font-size: 13px;
		line-height: 130%; /* 16.9px */
	}

	&__date {
		margin: 16px 0 0 0;
		color: var(--unnamed, #3d3d3d);
		font-family: Plumb-400;
		font-size: 15px;
		line-height: 150%; /* 22.5px */
		width: 100%;
		max-width: 264px;
	}

	&__cluster {
		margin: 16px 0 0 0;
		color: var(--unnamed, #3d3d3d);
		font-family: Plumb-400;
		font-size: 15px;
		line-height: 150%; /* 22.5px */
	}
}
