.support-faq {
	display: flex;
	flex-direction: column;
	gap: 60px;
	&__title {
		color: var(--unnamed, #3d3d3d);
		font-family: Plumb-700;
		font-size: 28px;
		line-height: 100%; /* 28px */
	}

	&__dropdowns {
		margin: -2px 0 0 0;
		display: flex;
		flex-direction: column;
		gap: 15px;
	}

	&__row {
		width: 1245px;
		height: auto;
		display: flex;
		flex-direction: column;
		background: #fff;
		filter: drop-shadow(0px 16px 34px rgba(0, 0, 0, 0.04));
	}

	&__preview {
		width: 1245px;
		height: 60px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 16px 17px 20px 30px;
		cursor: pointer;
	}

	&__preview-text {
		color: var(--unnamed, #3d3d3d);
		font-family: Plumb-700;
		font-size: 17px;
		line-height: 150%; /* 25.5px */
	}

	&__drop-arrow {
		margin: 3px 0 0 0;
		&.active {
			transform: rotate(180deg);
		}
	}

	&__dropdown {
		height: 0;
		visibility: hidden;

		&.active {
			border-top: 1px solid #efefef;
			padding: 19px 30px 25px 30px;
			height: auto;
			visibility: visible;
		}
	}

	&__drop-text {
		color: var(--unnamed, #3d3d3d);
		font-family: Plumb-400;
		font-size: 17px;
		line-height: 180%;
		span {
			color: var(--1, #277d59);
			text-decoration-line: underline;
		}
	}

	&__not-found {
		background: rgba(#3d3d3d, 0.04);
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 1245px;
		height: 210px;
		flex-shrink: 0;
		gap: 30px;
	}

	&__not-title {
		margin: 53px 0 0 0;
		color: var(--unnamed, #3d3d3d);
		text-align: center;
		font-family: Plumb-700;
		font-size: 21px;
		line-height: 100%; /* 21px */
	}

	&__contact-button {
		margin: 0 0 0 2px;
		width: 197.059px;
		height: 46px;
		flex-shrink: 0;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 10px;
		color: var(--unnamed, #fff);
		font-family: Plumb-700;
		font-size: 15px;
		line-height: 120%; /* 18px */
		background: var(--1, #277d59);
		padding: 0 4px 0 0;
	}

	&__contacts-icon {
	}
}
