.imgText__wrapper {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    //column-gap: 9px;
    & .img {
        margin-right: 8px;
    }
    & .imgMargin {
        margin-right: 10px;
    }
}