.myPage__wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: visible;
  }
  .header__wrapper {
    background: #fff;
    z-index: -1;
  }
.myPage__bg {
  width: 100%;
  height: 100%;
  background: #fafafa;
   }
.myPage__container {
  width: 100%;
  max-width: 1395px;
  padding-top: 60px;
  padding-left: 120px;
  z-index: 3;
  position: relative;
}
.title__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 52px;
}
.myPage__body {
  width: 100%;
  max-width: 833px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  column-gap: 60px;
  row-gap: 57px;
   }
   
.person__info {
  width: 100%;
  max-width: 398px;
  height: 486px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  background: #fff;
  fill: #fff;
  stroke-width: 1px;
  stroke: #f4f4f4;
  position: relative;
  filter: drop-shadow(0px 24px 54px rgba(0, 0, 0, 0.08));
  & .person__info__header {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(239, 239, 239, 1);
  }
  & .contactsInformation {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    row-gap: 19px;
     & .title {
      margin-bottom: 5px;
    }
    & .contactsInformation__line {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
  }
}
.alignRight {
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-end !important;
  row-gap: 30px !important;
}
.statistics__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.statistics {
  width: 100%;
  max-width: 375px;
  height: 428px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  background: #fff;
  fill: #fff;
  stroke-width: 1px;
  stroke: #f4f4f4;
  filter: drop-shadow(0px 24px 54px rgba(0, 0, 0, 0.08));
  & .title {
    margin-bottom: 15px;
  }
  & .vacation {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-bottom: 30px;
  }
  & .sickness {
    display: flex;
    flex-direction: column;
    & .margin {
      margin-bottom: 36px;
    }
  }
}
.workInformation {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    grid-column-start: 1;
    grid-column-end: 3;
    }
.workInformation__body {
    width: 100%;
    min-height: 536px;
    height: auto;
    background: #fff;
    fill: #FFF;
    stroke-width: 1px;
    stroke: #F4F4F4;
    filter: drop-shadow(0px 24px 54px rgba(0, 0, 0, 0.08));
    padding: 26px 30px 60px 30px;
    display: grid;
    grid-template-columns: 1.45fr 1fr;
    margin-bottom: 52px;
        & .workInformation__descriptions {
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        border-right: 1px solid #EFEFEF;
        & .item {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            row-gap: 15px;
        }
       }
}
.workInformation__persons {
    width: 100%;
    display: flex;
    flex-direction: column;
    & .chief {
        display: flex;
        flex-direction: column;
        row-gap: 18px;
        margin-bottom: 37px;
    }
    & .subordinates {
        display: flex;
        flex-direction: column;
        row-gap: 14px;
        & .title {
            margin-bottom: 4px;
        }
    }
}
.dragon__image {
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 2;
}
//zoom--------------------------------------------------
.zoom__wrapper {
    width: 534px;
    height: 610px;
    z-index: 888;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
}
.zoom__container {
    width: 100%;
    height: 100%;
    position: relative;
}
.close {
    position: absolute;
    top: -20px;
    right: -90px;
}
.darkOverlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    min-height: 100% !important;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1000 !important;
    padding-top: 140px;
     }
