.main__wrapper {
  width: 100%;
  height: 100vh;
  background-image: url('../../../images/main-bg.webp');
  background-repeat: no-repeat;
  background-size: 100%;
  overflow: hidden;
}
.main__container {
  width: 100%;
  //max-width: 1368px;
  //margin: 0 auto;
  height: auto;
  padding: 0px 24px 0px 48px;
}
.main__body {
  width: 100%;
  height: 100%;
  display: grid;
  //grid-template-columns: 210px 271px 314px 352px;
  grid-template-columns: minmax(auto,293px) minmax(auto,397px) minmax(auto,368px) minmax(auto,365px);
  justify-content: space-between;
  margin-top: 70px;
  margin-bottom: 29px;
}
.timeDate {
  width: 100%;
  max-width: 293px;
  height: auto;
  display: flex;
  flex-direction: column;
  padding-top: 114px;
  flex-shrink: 1;
  margin-right: 100px;
}
.timeDate__title {
  white-space: nowrap;
  margin-bottom: 4px;
  padding-left: 7px;
}
.timeDate__time {
  color: #fff;
  font-family: "Plumb-740";
  font-size: 120px;
  line-height: normal;
}
.timeDate__date {
  color: #fff;
  font-family: "Plumb-700";
  font-size: 17px;
  line-height: normal;
  margin-bottom: 62px;
}
.timeDate__quote {
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding-left: 30px;
}
.timeDate__quote__text {
  margin-bottom: 14px;
  padding-left: 7px;
  line-height: 20px;
}
.timeDate__quote__author {
  padding-left: 7px;
}
//important------------------------------------
.important {
    width: 100%;
    max-width: 397px;
    height: 244px;
    min-height: 244px;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px 25px 0 26px;
    margin-right: 64px;
    border-left: 6px solid #EE3424;;
}
.important__title {
    margin-bottom: 26px;
}
.important__text1 {
    margin-bottom: 25px;
    line-height: 20px;
}
.important__text2 {
   line-height: 20px;
}
//celebtrations---------------------------------------
.celebrations {
width: 100%;    
max-width: 368px;
height: auto;
display: flex;
flex-direction: column;
row-gap: 43px;
margin-right: 56px;
}
.birthdays {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.birthdays__titleWrapper {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}
.birthdays__items__wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 11px;
}
.birthdays__item {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    background: rgba(0, 0, 0, 0.25);
    & img {
        margin-right: 12px;
    }
}
.birthdays__item:hover {
    background: rgba(0, 0, 0, 0.6);
}

.person__info__name {
    color: #fff;
    font-family: 'Plumb-700';
    font-size: 17px;
    line-height: auto;
    white-space: nowrap;
}
.person__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 5px;
    margin-right: 24px;
}
.birthdays__status {
    display: flex;
    align-items: center;
    column-gap: 5px;
}
.holidays__items__wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 11px;
}
.holidays__item {
    width: 100%;
    height: 67px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 16px;
    background: rgba(0, 0, 0, 0.25);
}
//lastFiles--------------------------------------
.missing {
    width: 100%;
    max-width: 365px;
    height: auto;
}
.missing__items__wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 11px;
}
.missing__item {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0px 15px;
    background: rgba(0, 0, 0, 0.25);
   }
   .missing__item:hover {
    background: rgba(0, 0, 0, 0.6);
   }
.missing__item__header {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}
.missing__item__personInfo {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 15px;
}