.wrapper {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    //overflow: hidden;
    position: relative;
    & .background {
      width: 100%;
      min-height: 100vh;
      background: #fafafa;
    }
    & .container {
      width: 100%;
      max-width: 1398px;
      padding-left: 120px;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding-top: 22px;
      position: relative;
      z-index: 2;
      }
    & .back__wrapper {
        margin-bottom: 39px;
    }
    & .title__wrapper {
      width: 100%;
      margin-bottom: 36px;
       }
       & .subTitle__wrapper {
        margin-bottom: 29px;
       }
  }
  .languageChoose__wrapper {
    display: flex;
    align-items: center;
    transform: translateY(1px);
    & .item {
        width: 162px;
        height: 68px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgba(61, 61, 61, 0.3);
        font-family: 'Plumb-700';
        font-size: 17px;
        line-height: 120%; 
    }
    & .activeItem {
        background: #fff;
        color: var(--unnamed, #3D3D3D);
        text-align: center;
        font-family: 'Plumb-700';
        font-size: 18px;
        line-height: 150%; 
        }
  }
  .reviewEdit__body {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #FFF;
    box-shadow: 0px 16px 34px 0px rgba(0, 0, 0, 0.04);
    padding: 43px 0 54px 46px;
    margin-bottom: 85px;
  }
  .status__wrapper {
    display: flex;
    align-items: center;
    column-gap: 27px;
    margin-bottom: 37px;
  }
  .accordion__wrapper {
    width: 209px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    border: 1px solid #E2E2E2;
  }
  .theme__wrapper {
    display: flex;
    align-items: center;
    column-gap: 27px;
    margin-bottom: 36px;
    & .input__wrapper {
    width: 507px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    border: 1px solid #E2E2E2;
    }
  }
  .contain__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 29px;
    & .title {
      margin-bottom: 17px;
    }
  }
  .navigation__wrapper {
    width: 100%;
    height: auto;
    & img {
      display: block;
    }
  }
  .contain__info {
    width: 100%;
    max-width: 890px;
    height: 282px;
    border: 1px solid #E2E2E2;
    padding: 28px 0 0 31px;
  }
  .reference__wrapper {
    display: flex;
    align-items: center;
    column-gap: 15px;
    margin-bottom: 51px;
    & .input__wrapper {
      width: 507px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 15px;
      border: 1px solid #E2E2E2;
    }
  }
  .buttons__wrapper {
    display: flex;
    align-items: center;
    column-gap: 24px;
  }