.team-p-button {
    position: relative;
	width: 218px;
	height: 31px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--unnamed, #5f82ff);
	text-align: center;
	font-family: Plumb-400;
	font-size: 15px;
	line-height: 150%; /* 22.5px */


    &__background{
        width: 218px;
	    height: 31px !important;
        top: 0;
        height: 0;
        position: absolute;
        opacity: 0.1;
        border-radius: 20px;
    }
}
