.userPage__wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.userPage__bg {
  width: 100%;
  height: 100%;
  background: #fafafa;
}
.userPage__container {
  width: 100%;
  max-width: 1395px;
  padding-top: 60px;
  padding-left: 120px;
  z-index: 3;
}
