.button226__wrapper {
width: 226px;
height: 53px;
background: #00512F;
display: flex;
align-items: center;
justify-content: center;
color: #FFF;
font-family: 'Trebuchet-400';
font-size: 14px;
line-height: normal;
}
.button198__wrapper {
width: 198px;
height: 53px;
background: #00512F;
display: flex;
align-items: center;
justify-content: center;
color: #FFF;
font-family: 'Trebuchet-400';
font-size: 14px;
line-height: normal;
}
.button167__wrapper {
width: 167px;
height: 53px;
background: #00512F;
display: flex;
align-items: center;
justify-content: center;
color: #FFF;
font-family: 'Trebuchet-400';
font-size: 14px;
line-height: normal;
}