.text12400 {
  color: #22333a;
  font-family: "Trebuchet-400";
  font-size: 12px;
}
.text14400 {
  color: #22333a;
  font-family: "Trebuchet-400";
  font-size: 14px;
}
.text14700 {
  color: #22333a;
  font-family: "Trebuchet-700";
  font-size: 14px;
}
.text20400 {
color: #22333A;
font-family: 'Trebuchet-400';
font-size: 20px;
  color: #22333a;
  font-family: "Trebuchet-400";
  font-size: 20px;

}
.text18400 {
color: #22333A;
font-family: 'Trebuchet-400';
font-size: 18px;
  color: #22333a;
  font-family: "Trebuchet-400";
  font-size: 18px;
 
}
.text20700 {
color: #22333A;
font-family: 'Trebuchet-700';
font-size: 20px;
  color: #22333a;
  font-family: "Trebuchet-700";
  font-size: 20px;

}
.text12700 {
color: #22333A;
font-family: 'Trebuchet-700';
font-size: 12px;

}
.text15700 {
color: #22333A;
font-family: 'Trebuchet-700';
font-size: 15px;

}
.text13700 {
color: #22333A;
font-family: 'Trebuchet-700';
font-size: 13px;

}
 
.text18400 {
  color: #22333a;
  font-family: "Trebuchet-400";
  font-size: 18px;

}
.text20700 {
  color: #22333a;
  font-family: "Trebuchet-700";
  font-size: 20px;

}
.text12700 {
  color: #22333a;
  font-family: "Trebuchet-700";
  font-size: 12px;

}
