.text12400 {
color: #22333A;
font-family: 'Trebuchet-400';
font-size: 12px;
}
.text14400 {
color: #22333A;
font-family: 'Trebuchet-400';
font-size: 14px;
}
.text20400 {
color: #22333A;
font-family: 'Trebuchet-400';
font-size: 20px;
line-height: normal;
}
.text18400 {
color: #22333A;
font-family: 'Trebuchet-400';
font-size: 18px;
line-height: normal;
}
.text20700 {
color: #22333A;
font-family: 'Trebuchet-700';
font-size: 20px;
line-height: normal;
}
.text12700 {
color: #22333A;
font-family: 'Trebuchet-700';
font-size: 12px;
line-height: normal;
}