.text12400 {
	color: #3d3d3d;
	font-family: "Trebuchet-400";
	font-size: 12px;
}
.text14400 {
	color: #3d3d3d;
	font-family: "Trebuchet-400";
	font-size: 14px;
}
.text14700 {
	color: #3d3d3d;
	font-family: "Trebuchet-700";
	font-size: 14px;
}
.text20400 {
	color: #3d3d3d;
	font-family: "Trebuchet-400";
	font-size: 20px;
	color: #3d3d3d;
	font-family: "Trebuchet-400";
	font-size: 20px;
}
.text18400 {
	color: #3d3d3d;
	font-family: "Trebuchet-400";
	font-size: 18px;
	color: #3d3d3d;
	font-family: "Trebuchet-400";
	font-size: 18px;
}
.text20700 {
	color: #3d3d3d;
	font-family: "Trebuchet-700";
	font-size: 20px;
	color: #3d3d3d;
	font-family: "Trebuchet-700";
	font-size: 20px;
}
.text12700 {
	color: #3d3d3d;
	font-family: "Trebuchet-700";
	font-size: 12px;
}
.text15700 {
	color: #3d3d3d;
	font-family: "Trebuchet-700";
	font-size: 15px;
}
.text13700 {
	color: #3d3d3d;
	font-family: "Trebuchet-700";
	font-size: 13px;
}

.text18400 {
	color: #3d3d3d;
	font-family: "Trebuchet-400";
	font-size: 18px;
}
.text20700 {
	color: #3d3d3d;
	font-family: "Trebuchet-700";
	font-size: 20px;
}
.text12700 {
	color: #3d3d3d;
	font-family: "Trebuchet-700";
	font-size: 12px;
}
//plumb----------------------------------------------------------
.text26700 {
	color: #3d3d3d;
	font-family: "Plumb-700";
	font-size: 26px;
}
.text17400 {
	color: #3d3d3d;
	font-family: "Plumb-400";
	font-size: 17px;
}
.text17700 {
	color: #3d3d3d;
	font-family: "Plumb-700";
	font-size: 17px;
}
.text15400 {
	color: #3d3d3d;
	font-family: "Plumb-400";
	font-size: 15px;
}
.text15400С {
	color: #3d3d3d;
	font-family: 'PlumbC-400';
	font-size: 15px;
	}
 
.text21700 {
	color: #3d3d3d;
	font-family: "Plumb-700";
	font-size: 21px;
}
.text13400 {
	color: #3d3d3d;
	font-family: "Plumb-400";
	font-size: 13px;
}
.text28700 {
	color: #3d3d3d;
	font-family: "Plumb-700";
	font-size: 28px;
}
.text60700 {
	color: #3d3d3d;
	font-family: "Plumb-700";
	font-size: 60px;
}
