.employees__wrapper {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    & .bg {
        width: 100%;
        height: 100vh;
        background: #FAFAFA;
    }
    & .container {
        max-width: 1680px;
        margin: 0 auto;
        height: auto;
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        padding-top: 55px;
    }
}
.title__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 53px;
}
.search__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 30px;
    margin-bottom: 63px;
    & .input__search {
        width: 100%;
        max-width: 1091px;
        height: 40px;
        background: #fff;
        padding-left: 15px;
         }
    & .input__search::placeholder {
        color: var(--unnamed, #3D3D3D);
        font-family: 'PlumbC-400';
        font-size: 15px;
        line-height: 150%; 
        opacity: 0.5;
    }
}
.field__wrapper {
    width: 100%;
    height: 40px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}
.departments__wrapper {
    width: 426px;
    max-width: 426px;
    height: auto;
}
.filters__wrapper {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 53px;
}
.filters__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 13px;
}
.accordion__wrapper {
    width: 199px;
    max-width: 199px;
    height: auto;
}
//main---------------------------------------------
.employees__main {
    display: grid;
    grid-template-columns: 12.97% 1fr;
    column-gap: 63px;
}
.main__sidebar {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.sidebar__filters {
    margin-bottom: 42px;
}
.sidebar__filters__title {
    margin-bottom: 24px;
}
.sidebar__filters__item {
    margin-bottom: 11px;
}
.button__wrapper {
    margin-bottom: 12px;
}
.items__wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
.item__wrapper__header {
   margin-bottom: 10px;
   padding-left: 27px !important;
   padding-top: 0px !important;
   padding-bottom: 0px !important;
   background: #FAFAFA !important;
   height: auto !important;
}
.item__wrapper {
    width: 100%;
    height: auto;
    max-height: auto;
    display: grid;
    grid-template-columns: 225px 419px 69px 132px 218px;
    //grid-template-rows: auto auto;
    row-gap: 12px;
    padding: 24px 0 23px 21px;
    align-items: center;
    background: #fff;
    position: relative;
 }
 .item__wrapper__cell {
    display: flex;
    align-items: center;
    white-space: nowrap;
 }
 .item__wrapper__cell:nth-child(2) {
    margin-left: 78px;
 }
 .item__wrapper__cell:nth-child(3) {
    margin-left: 133px;
 }
 .item__wrapper__cell:nth-child(4) {
    margin-left: 192px;
 }
 .item__wrapper__cell:nth-child(5) {
    margin-left: 254px;
 }
.status {
   position: absolute;
   top: 11px;
   left: 22px;
   }
.item__personInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 15px;
    margin-top: 12px;
}
.avaName__wrapper {
    display: flex;
    column-gap: 15px;
}
.department {
    display: flex;
    align-items: center;
    column-gap: 90px;
}
.teams__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 9px;
}
.boxShadow {
    background: #FFF;
    box-shadow: 0px 16px 34px 0px rgba(0, 0, 0, 0.04);
    margin-bottom: 61px;
}
.showMoreButton {
    align-self: center;
    margin-bottom: 193px;
    transform: translateX(140px);
}