.wrapper {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    //overflow: hidden;
    position: relative;
    & .background {
      width: 100%;
      min-height: 100vh;
      background: #fafafa;
    }
    & .container {
      width: 100%;
      max-width: 1680px;
      height: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      padding-top: 22px;
      position: relative;
      z-index: 2;
      }
    & .back__wrapper {
        margin-bottom: 39px;
    }
    & .title__wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 19px;
       }
  }
  .status__wrapper {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 41px;
  }
  .employeeInfo__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 190px;
    margin-bottom: 78px;
  }
  .employee__item {
    display: flex;
    align-items: center;
    column-gap: 47px;
    white-space: nowrap;
    & .ava__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 20px;
    & img {
        max-width: 100px;
        max-height: 100px;
    }
    & .ava__info {
        display: flex;
        flex-direction: column;
        row-gap: 11px;
    }
    }
  }
  .head__item {
    display: flex;
    flex-direction: column;
    row-gap: 23px;
    white-space: nowrap;
    & .ava__wrapper {
        display: flex;
        align-items: center;
        column-gap: 27px;
    }
   }
   .viewer__item {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    row-gap: 10px;
    & .title {
        margin-bottom: 22px;
    }
   }
   .questions__wrapper {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 65px;
    margin-bottom: 283px;
   }
   .question__item {
    width: 100%;
    display: grid;
    grid-template-columns: 1.53fr 1fr;
    column-gap: 64px;
    & .update__wrapper {
        display: flex;
        align-items: center;
        column-gap: 10px;
        margin-bottom: 2px;
    }
   }
   .question__item__info {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background: #FFF;
    box-shadow: 0px 16px 34px 0px rgba(0, 0, 0, 0.04);
    padding: 34px 36px 32px 45px;
    & .title {
        margin-bottom: 14px;
    }
    & .textDescription {
        margin-bottom: 53px;
    }
    & .subtitle {
        margin-bottom: 28px;
    }
    & .info__wrapper {
        width: 100%;
        height: 282px;
        border: 1px solid rgba(226, 226, 226, 1);
        margin-bottom: 13px;
        padding: 28px 0 0 31px;
    }
   }
   .button__wrapper {
    width: 218px;
    align-self: flex-end;
   }
   .question__item__chat {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    & .item__output {
        align-self: flex-end;
        width: 100%;
        max-width: 555px;
            & .headerInfo {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;
            & .time__wrapper {
                display: flex;
                align-items: center;
                column-gap: 12px;
                }
        }
        & .body {
            width: 100%;
            height: 73px;
            border-radius: 30px;
            border: 1px solid rgba(61, 61, 61, 0.40);
            background: var(--unnamed, #FFF);
            padding: 25px 30px;
            display: flex;
            align-items: center;
        }
    }
    & .item__input {
        align-self: flex-start;
        width: 100%;
        max-width: 555px;
        display: flex;
        flex-direction: column;
            & .headerInfo {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;
            & .time__wrapper {
                display: flex;
                align-items: center;
                column-gap: 12px;
                margin-bottom: 10px;
            }
        }
        & .body {
            width: 100%;
            height: 99px;
            border-radius: 30px;
            border: 1px solid rgba(61, 61, 61, 0.40);
            background: #277D59;
            padding: 25px 30px;
            display: flex;
            align-items: center;
            margin-bottom: 11px;
        }
        & .reply {
            align-self: flex-end;
        }
    }
   }
   
  