.footer__wrapper {
    width: 100%;
    padding: 0px 24px 24px 52px;
    background: #fff;
}
.footer__container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__nav {
    display: flex;
    align-items: center;
    column-gap: 30px;
}