@font-face {
    font-family: 'Trebuchet-400';
    src: url('./fonts/trebuchetms-400.woff');
}
@font-face {
    font-family: 'Trebuchet-700';
    src: url('./fonts/trebuchet-700.woff');
}
@font-face {
    font-family: 'Plumb-400';
    src: url('./fonts/PlumbC.woff2');
}
@font-face {
    font-family: 'Plumb-700';
    src: url('./fonts/plumb-bold.woff');
}



@font-face {
    font-family: 'PlumbC-400';
    src: url('./fonts/PlumbC.woff2');
}
@font-face {
    font-family: 'PlumbC-700';
    src: url('./fonts/PlumbC-Bold.woff2');
}