.send-request {
	display: flex;
	flex-direction: column;
	gap: 29px;
	width: 581px;
	&__nav {
		margin: 0 0 -2px 0;

		position: relative;
		z-index: 20;
		display: flex;
		flex-direction: row;
	}
	&__nav-button {
		padding: 24px 30px 24px 29px;
		color: rgba(#3d3d3d, 0.3);
		font-family: Plumb-700;
		font-size: 17px;
		line-height: 120%; /* 20.4px */
		cursor: pointer;

		&.active {
			color: rgba(#3d3d3d, 1);
			background: #fff;
			border: 1px solid #f4f4f4;
			border-bottom: 0;
		}
	}
	&__container {
	}
}

.send-request-request {
	padding: 29px 0 60px 0;
	position: relative;
	z-index: 10;
	// margin: -1px 0 0 0;
	width: 581px;
	// height: 1253px;
	background: #fff;
	border: 1px solid #f4f4f4;
	filter: drop-shadow(0px 24px 54px rgba(0, 0, 0, 0.08));

	&__line {
		margin: 30px 0;
		width: 100%;
		height: 1px;
		background: #efefef;
		&.med {
			margin: 30px 30px;
			width: 520px;
		}
	}

	&__numbers {
		margin: -1px 0 0 29px;
		display: flex;
		flex-direction: row;
		gap: 68px;
		color: var(--unnamed, #3d3d3d);
		font-family: Plumb-400;
		font-size: 28px;
		font-style: normal;
		font-weight: 400;
		line-height: 18px; /* 28px */
	}

	&__box {
		display: flex;
		flex-direction: row;
		gap: 16px;
	}

	&__big-number {
		margin: 5.5px 0 0 0;
	}

	&__text {
		font-size: 15px;
	}

	&__how-button {
		margin: 20px 33px -2px 0;
		color: #277d59;
		text-align: right;
		font-family: Plumb-400;
		font-size: 15px;
		line-height: 120%; /* 18px */
		text-decoration-line: underline;
		cursor: pointer;
	}

	&__comment {
		margin: 0px 0 0 29px;
		width: 521px;
		height: 116px;
		flex-shrink: 0;
		background: #fbfbfb;
		border: 1px solid #e2e2e2;
		padding: 11px 0 0 15px;
	}

	&__check {
		margin: 9px 0 0 28px;
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 10px;
		cursor: pointer;
	}

	&__checkbox {
		margin: 0px 0 0 0;
		border: 1px solid #e2e2e2;
		width: 15px;
		height: 15px;
		&.active {
			.send-request-request__check-icon {
				display: flex;
			}
		}
	}

	&__check-icon {
		margin: -1px 0 0 -1px;
		display: none;
		width: 14px;
		height: 14px;
	}

	&__check-text {
		color: var(--unnamed, #3d3d3d);
		font-family: PlumbC-400;
		font-size: 15px;
		line-height: 120%; /* 18px */
	}

	&__info-icon {
		margin: 0 0 0 2px;
		width: 18px;
		height: 18px;
	}

	&__buttons {
		margin: 29px 0 0 30px;
		display: flex;
		flex-direction: row;
		gap: 31px;

		&.transfer {
			justify-content: flex-end;
			padding: 0 30px 0 0;
		}
	}

	&__button {
		padding: 15px 0 0 37px;
		width: 244px;
		height: 46px;
		flex-shrink: 0;
		color: var(--unnamed, #fff);
		background: var(--1, #277d59);
		font-family: Plumb-700;
		font-size: 15px;
		line-height: 120%; /* 18px */

		&.cancel {
			padding: 15px 0 0 40px;
			color: var(--2, #ee3424);
			background: rgba(#ee3424, 0.06);
		}
	}
}

.send-request-transfer {
	&__title {
		margin: 0 0 0 30px;
		color: var(--unnamed, #3d3d3d);
		font-family: Plumb-700;
		font-size: 15px;
		line-height: 120%; /* 18px */
	}
	&__checks {
		margin: 20px 0 0 30px;
		display: flex;
		flex-direction: column;
		gap: 13px;
	}

	&__check {
		margin: 0px 0 0 0;
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 10px;
		cursor: pointer;
	}

	&__checkbox {
		margin: 0px 0 0 0;
		border: 1px solid #e2e2e2;
		width: 15px;
		height: 15px;
		&.active {
			.send-request-transfer__check-icon {
				display: flex;
			}
		}
	}

	&__check-icon {
		margin: 0px 1px 0 0px;
		display: none;
		width: 14px;
		height: 14px;
	}

	&__check-text {
		margin: 0 0 0 0;
		color: var(--unnamed, #3d3d3d);
		font-family: PlumbC-400;
		font-size: 15px;
		line-height: 120%; /* 18px */
	}
}

.send-request-vacation {
	padding: 29px 0 60px 0;
	position: relative;
	z-index: 10;
	// margin: -1px 0 0 0;
	width: 581px;
	// height: 1253px;
	background: #fff;
	border: 1px solid #f4f4f4;
	filter: drop-shadow(0px 24px 54px rgba(0, 0, 0, 0.08));

	&__line {
		margin: 30px 0;
		width: 100%;

		height: 1px;
		background: #efefef;
		&.med {
			margin: 30px 30px;
			width: 520px;
		}
	}

	&__heading {
		margin: 0 0 0 30px;
		color: var(--unnamed, #3d3d3d);
		font-family: Plumb-700;
		font-size: 15px;
		line-height: 120%; /* 18px */
	}

	&__counter {
		margin: 20px 0 0 30px;
		display: flex;
		flex-direction: row;
	}

	&__counter-button {
		width: 40px;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #fbfbfb;
		border: 1px solid #e2e2e2;
	}

	&__counter-minus {
	}

	&__counter-number {
		width: 120px;
		background: #fbfbfb;
		border: 1px solid #e2e2e2;
		display: flex;
		justify-content: center;
		align-items: center;
		color: var(--unnamed, #3d3d3d);
		text-align: center;
		font-family: Plumb-400;
		font-size: 15px;
		line-height: 150%; /* 22.5px */
	}

	&__counter-plus {
	}

	&__choose {
		margin: 31px 0 0 30px;
	}

	&__checkbox {
		margin: 0px 15px 0 0;
		border: 1px solid #e2e2e2;
		width: 15px;
		height: 15px;
		&.active {
			.send-request-vacation__check-icon {
				display: flex;
			}
		}
	}

	&__check-icon {
		margin: 0px 1px 0 0px;
		display: none;
		width: 14px;
		height: 14px;
	}
}

.request-type-block {
	margin: 0 0 -3px 1.5px;
	padding: 0px 0px 0 28px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%;

	&__heading {
		margin: 0px 0 -0.5px 0;
		color: var(--unnamed, #3d3d3d);
		font-family: Plumb-700;
		font-size: 15px;
		line-height: 120%; /* 18px */
	}
	&__buttons {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 19px;
	}
	&__button {
		padding: 8px 20px 9px 19px;
		background: #fbfbfb;
		border: 1px solid #e2e2e2;
		border-radius: 20px;
		color: var(--unnamed, #3d3d3d);
		font-family: Plumb-400;
		font-size: 15px;
		line-height: 150%; /* 22.5px */
		&.active {
			color: #fff;
			background: #277d59;
		}
		cursor: pointer;
	}
}

.request-search-block {
	margin: 0 0 -7px 0;
	padding: 0 29.5px 0 27px;
	display: flex;
	flex-direction: column;

	&__heading {
		margin: 0 0 20px 0;
		color: var(--unnamed, #3d3d3d);
		font-family: Plumb-700;
		font-size: 15px;
		line-height: 120%; /* 18px */
	}

	&__chosen {
		margin: 9px 0 0 0;
		display: flex;
		flex-direction: row;

		width: 522px;
		height: 44px;
		background: #f6f6f6;
	}

	&__avatar {
		margin: 4px 11px 0 15px;
		width: 30px;
		height: 30px;
	}

	&__name {
		width: 100%;
		margin: 11px 0 0 0;
		color: var(--unnamed, #3d3d3d);
		font-family: Plumb-400;
		font-size: 15px;
		line-height: 150%; /* 22.5px */
	}

	&__cross {
		margin: 0 14px 0 0;
	}

	&__check {
		margin: 21px 0 0 1px;
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 10px;
		cursor: pointer;
	}

	&__checkbox {
		margin: 0px 0 0 0;
		border: 1px solid #e2e2e2;
		width: 15px;
		height: 15px;
		&.active {
			.request-search-block__check-icon {
				display: flex;
			}
		}
	}

	&__check-icon {
		margin: 0px 1px 0 0px;
		display: none;
		width: 14px;
		height: 14px;
	}

	&__check-text {
		margin: 0 0 0 0;
		color: var(--unnamed, #3d3d3d);
		font-family: PlumbC-400;
		font-size: 15px;
		line-height: 120%; /* 18px */
	}

	&__info-icon {
		margin: 0px 0px 0 4px;
		width: 18px;
		height: 18px;
	}
}

.request-dates-block {
	display: flex;
	flex-direction: column;
	padding: 1px 30px 0 29px;

	&__title {
		color: var(--unnamed, #3d3d3d);
		font-family: Plumb-700;
		font-size: 15px;
		line-height: 120%; /* 18px */
	}

	&__date {
		margin: 20px 0 0 0;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 521px;
		height: 40px;
		flex-shrink: 0;
		color: var(--unnamed, #3d3d3d);
		font-family: Plumb-400;
		font-size: 15px;
		line-height: 150%; /* 22.5px */
		padding: 8px 12px 0 13px;

		background: #fbfbfb;
		border: 1px solid #e2e2e2;
	}

	&__date-icon {
		margin: 2px 0 0 0;
		width: 17px;
		height: 18px;
	}

	&__list {
		margin: 25.5px 0 0 0;
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	&__row {
		display: flex;
		flex-direction: row;
		gap: 19px;
	}

	&__text {
		margin: 2.5px 0 0 0;
		width: 100%;
		max-width: 104px;
		color: var(--unnamed, #3d3d3d);
		font-family: Plumb-400;
		font-size: 15px;
		line-height: 120%; /* 18px */
	}

	&__red-cross {
		margin: 13px 0 0 -5px;
		width: 15px;
		height: 15px;
	}
}
.calendar-find {
    margin: 0px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 27px;
	width: 398px;
	&__card {
        padding: 31px 28px 60px 28px;
        display: flex;
        flex-direction: column;
        gap: 29px;
		flex-shrink: 0;
		background: #fff;
		border: 1px solid #f4f4f4;
		filter: drop-shadow(0px 24px 54px rgba(0, 0, 0, 0.08));
	}

	&__dropdowns{
		margin: 0 0 0 2px;
		display: flex;
		flex-direction: column;
		gap: 22px;
	}

    &__row {
		height: auto;
		color: #000;
		font-family: Trebuchet-700;
		font-size: 14px;
		display: flex;
		flex-direction: row;
		cursor: pointer;
		&.drop {
			flex-direction: column;
		}
	}

	&__preview {
		display: flex;
		flex-direction: row;
	}

	&__avatar {
		margin: 0px 10px 0 0;
		width: 30px;
		height: 30px;
	}

	&__dropdown-arrow {
		margin: 2px 0 0 8px;
		&.active {
			transform: rotate(180deg);
		}
	}

	&__dropdown {
		height: 0;
		visibility: hidden;
		&.active {
			margin: 21.5px 0 1px 0px;
			height: auto;
			visibility: visible;
			display: flex;
			flex-direction: column;
			gap: 7px;
			&.inner {
				margin: 16px 0 0 30px;
			}
		}

		cursor: default;
	}

	&__link {
		cursor: pointer;
		display: flex;
		flex-direction: row;
		align-items: center;
	}
}
