.assistants__container {
    width: 100%;
      max-width: 1180px;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding-top: 22px;
      position: relative;
      & .title {
        margin-bottom: 25px;
      }
}
.roles__switcher {
    display: flex;
    align-items: center;
    transform: translateY(1px);
    & .item {
        width: 241px;
        height: 68px;
        color: rgba(61, 61, 61, 0.3);
        font-family: 'Plumb-700';
        font-size: 17px;
        line-height: 120%; 
        display: flex;
        align-items: center;
        justify-content: center;
    }
    & .itemActive {
        color:#3D3D3D;
        font-family: 'Plumb-700';
        font-size: 17px;
        line-height: 120%; 
        background: #fff;
    }
   }
   .assistants__body {
    width: 100%;
    height: 1607px;
    background: #fff;
    padding: 54px 0 0 56px;
    display: grid;
    grid-template-columns: 1fr 3fr;
   }
   .persons__wrapper {
    max-width: 100%;
    height: 657px;
    display: flex;
    flex-direction: column;
    padding-right: 75px;
    & .title {
        margin-bottom: 22px;
    }
    & .item {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    & .item:not(:last-child) {
        margin-bottom: 15px;
    }
    & .addUser__wrapper {
        margin-top: 7px;
    }
   }
   .assistant__wrapper {
    height: 657px;
    display: flex;
    flex-direction: column;
    padding-left: 76px;
    margin-top: 53px;
    border-left: 1px solid #EFEFEF;
    & .header {
        margin-bottom: 46px;
    }
   }
   .items__wrapper {
    max-width: 270px;
    display: flex;
    flex-direction: column;
    & .title {
        margin-bottom: 22px;
    }
    & .item {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    & .item:not(:last-child) {
        margin-bottom: 15px;
    }
    & .addUser__wrapper {
        margin-top: 7px;
    }
   }