.wrapper {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    //overflow: hidden;
    position: relative;
    & .background {
      width: 100%;
      min-height: 100vh;
      background: #fafafa;
    }
    & .container {
      width: 100%;
      max-width: 1680px;
      //height: 100vh;
      display: flex;
      flex-direction: column;
      padding-top: 22px;
      margin: 0 auto;
      position: relative;
      z-index: 2;
    }
    & .title {
      width: 100%;
       }
  }
  .back__wrapper {
    margin-bottom: 39px;
  }
  .functions__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 33px;
    & .buttons__wrapper {
        display: flex;
        align-items: center;
        column-gap: 18px;
    }
  }
  .reviewOptions__wrapper {
    display: flex;
    align-items: center;
    column-gap: 50px;
    margin-bottom: 60px;
  }
  .reviewOptions__item {
    color: var(--unnamed, #3D3D3D);
    font-family: 'PlumbC-700';
    font-size: 18px;
    line-height: 120%; 
    text-decoration-line: underline;
    opacity: 0.3;
  }
  .reviewOptions__itemActive {
    color: var(--1, #277D59) !important;
    font-family: 'Plumb-700';
    font-size: 18px;
    line-height: 150%; 
    opacity: 1;
  }
.resultsSorting__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 22px;
    & .header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
.resultsSorting__body {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 22px;
    & .itemColumn {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 19px;
    }
    & .itemColumn_input {
        width: 301px;
        
    }
    & .itemColumn__titleWrapper {
        display: flex;
        align-items: center;
        column-gap: 9px;
        //max-width: 135px;
    }
}
.input__wrapper {
    width: 100%;
    max-width: 100%;
    height: 40px;
    background: #fff;
    display: flex;
    align-items: center;
    position: relative;
    margin-top: -10px;
    & input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding-left: 15px;
    }    
    & img {
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
    }
}
.results__items__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin-bottom: 54px;
}
.dragon {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
}